## IMPORTING LIBRARIES

In [1]:
!pip install pandas numpy

Requirement already satisfied: pandas in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (2.2.1)
Requirement already satisfied: numpy in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import numpy as np
import pandas as pd

In [4]:
import pandas as pd
order=pd.read_excel("Company X - Order Report.xlsx") 
pincode=pd.read_excel("Company X - Pincode Zones.xlsx") 
product=pd.read_excel("Company X - SKU Master.xlsx")

In [12]:
order

     ExternOrderNo            SKU  Order Qty
0       2001827036  8904223818706        1.0
1       2001827036  8904223819093        1.0
2       2001827036  8904223819109        1.0
3       2001827036  8904223818430        1.0
4       2001827036  8904223819277        1.0
..             ...            ...        ...
395     2001806229  8904223818942        1.0
396     2001806229  8904223818850        1.0
397     2001806226  8904223818850        2.0
398     2001806210  8904223816214        1.0
399     2001806210  8904223818874        1.0

[400 rows x 3 columns]

In [13]:
pincode

     Warehouse Pincode  Customer Pincode Zone
0               121003            507101    d
1               121003            486886    d
2               121003            532484    d
3               121003            143001    b
4               121003            515591    d
..                 ...               ...  ...
119             121003            325207    b
120             121003            303702    b
121             121003            313301    b
122             121003            173212    e
123             121003            302020    b

[124 rows x 3 columns]

In [14]:
product

              SKU  Weight (g)
0   8904223815682         210
1   8904223815859         165
2   8904223815866         113
3   8904223815873          65
4   8904223816214         120
..            ...         ...
61  8904223819505         210
62  8904223819499         210
63  8904223819512         210
64  8904223819543         300
65     SACHETS001          10

[66 rows x 2 columns]

In [5]:
import pandas as pd
innvoice=pd.read_excel("Courier Company - Invoice.xlsx")

In [18]:
innvoice

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4
...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.73,121003,325207,d,Forward charges,90.2
120,1091117614452,2001809383,0.50,121003,303702,d,Forward and RTO charges,86.7
121,1091120922803,2001820978,0.50,121003,313301,d,Forward charges,45.4
122,1091121844806,2001811475,0.50,121003,173212,b,Forward charges,33.0
123,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4

In [6]:
rates=pd.read_excel("Courier Company - Rates.xlsx")

In [20]:
rates

,Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge
0,A,0.50,29.5,23.6,13.6,23.6
1,B,1.00,33.0,28.3,20.5,28.3
2,C,1.25,40.1,38.9,31.9,38.9
3,D,1.50,45.4,44.8,41.3,44.8
4,E,2.00,56.6,55.5,50.7,55.5

In [7]:
import pandas as pd
pd.merge(order,product,on="SKU",how="inner")

     ExternOrderNo            SKU  Order Qty  Weight (g)
0       2001827036  8904223818706        1.0         127
1       2001827036  8904223819093        1.0         150
2       2001827036  8904223819109        1.0         100
3       2001827036  8904223818430        1.0         165
4       2001827036  8904223819277        1.0         350
..             ...            ...        ...         ...
396     2001806229  8904223818942        1.0         133
397     2001806229  8904223818850        1.0         240
398     2001806226  8904223818850        2.0         240
399     2001806210  8904223816214        1.0         120
400     2001806210  8904223818874        1.0         100

[401 rows x 4 columns]

## DATA CLEANING

In [22]:
order.drop_duplicates(inplace=True)
pincode.drop_duplicates(inplace=True)
innvoice.drop_duplicates(inplace=True)
rates.drop_duplicates(inplace=True)
product.drop_duplicates(inplace=True)

In [23]:
pd.merge(order,product,on="SKU",how="inner")

     ExternOrderNo            SKU  Order Qty  Weight (g)
0       2001827036  8904223818706        1.0         127
1       2001827036  8904223819093        1.0         150
2       2001827036  8904223819109        1.0         100
3       2001827036  8904223818430        1.0         165
4       2001827036  8904223819277        1.0         350
..             ...            ...        ...         ...
393     2001806229  8904223818942        1.0         133
394     2001806229  8904223818850        1.0         240
395     2001806226  8904223818850        2.0         240
396     2001806210  8904223816214        1.0         120
397     2001806210  8904223818874        1.0         100

[398 rows x 4 columns]

In [24]:
order.shape

(398, 3)

In [25]:
product.shape

(65, 2)

In [26]:
import pandas as pd
rates

,Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge
0,A,0.50,29.5,23.6,13.6,23.6
1,B,1.00,33.0,28.3,20.5,28.3
2,C,1.25,40.1,38.9,31.9,38.9
3,D,1.50,45.4,44.8,41.3,44.8
4,E,2.00,56.6,55.5,50.7,55.5

In [27]:
rates

,Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge
0,A,0.50,29.5,23.6,13.6,23.6
1,B,1.00,33.0,28.3,20.5,28.3
2,C,1.25,40.1,38.9,31.9,38.9
3,D,1.50,45.4,44.8,41.3,44.8
4,E,2.00,56.6,55.5,50.7,55.5

In [28]:
rates['Zone']=rates['Zone'].str.lower()

In [11]:
comp=pd.merge(pd.merge(pd.merge(pincode,rates,on='Zone',how='inner'),innvoice,on='Customer Pincode',how='inner'),pd.merge(order,product,on="SKU",how="inner") ,left_on='Order ID',right_on='ExternOrderNo',how='inner')

In [30]:
comp

,Warehouse Pincode_x,Customer Pincode,Zone_x,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge,AWB Code,Order ID,Charged Weight,Warehouse Pincode_y,Zone_y,Type of Shipment,Billing Amount (Rs.),ExternOrderNo,SKU,Order Qty,Weight (g)
0,121003,507101,d,1.5,45.4,44.8,41.3,44.8,1091117222124,2001806232,1.3,121003,d,Forward charges,135.0,2001806232,8904223818645,6.0,137
1,121003,507101,d,1.5,45.4,44.8,41.3,44.8,1091117222124,2001806232,1.3,121003,d,Forward charges,135.0,2001806232,8904223819147,2.0,240
2,121003,486886,d,1.5,45.4,44.8,41.3,44.8,1091117222194,2001806273,1.0,121003,d,Forward charges,90.2,2001806273,8904223819017,1.0,115
3,121003,486886,d,1.5,45.4,44.8,41.3,44.8,1091117222194,2001806273,1.0,121003,d,Forward charges,90.2,2001806273,8904223818706,1.0,127
4,121003,486886,d,1.5,45.4,44.8,41.3,44.8,1091117222194,2001806273,1.0,121003,d,Forward charges,90.2,2001806273,8904223818942,1.0,133
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,121003,303702,b,1.0,33.0,28.3,20.5,28.3,1091117614452,2001809383,0.5,121003,d,Forward and RTO charges,86.7,2001809383,8904223818706,1.0,127
394,121003,303702,b,1.0,33.0,28.3,20.5,28.3,1091117614452,2001809383,0.5,121003,d,Forward and RTO charges,86.7,2001809383,8904223818850,1.0,240
395,121003,303702,b,1.0,33.0,28.3,20.5,28.3,1091117614452,2001809383,0.5,121003,d,Forward and RTO charges,86.7,2001809383,8904223819468,1.0,240
396,121003,313301,b,1.0,33.0,28.3,20.5,28.3,1091120922803,2001820978,0.5,121003,d,Forward charges,45.4,2001820978,8904223815859,1.0,165
397,121003,313301,b,1.0,33.0,28.3,20.5,28.3,1091120922803,2001820978,0.5,121003,d,Forward charges,45.4,2001820978,8904223817501,1.0,350

In [31]:
comp.duplicated(keep=False).sum()

0

In [32]:
comp.shape

(398, 19)

In [33]:
product.drop_duplicates(inplace=True)

In [34]:
order.drop_duplicates(inplace=True)

In [35]:
innvoice.drop_duplicates(inplace=True)

In [36]:
rates.drop_duplicates(inplace=True)

In [37]:
comp.shape

(398, 19)

In [12]:
comp['Actual weight(kg)']=(comp['Weight (g)']*comp['Order Qty'])/1000

comp

In [39]:
comp

,Warehouse Pincode_x,Customer Pincode,Zone_x,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge,AWB Code,Order ID,Charged Weight,Warehouse Pincode_y,Zone_y,Type of Shipment,Billing Amount (Rs.),ExternOrderNo,SKU,Order Qty,Weight (g),Actual weight(kg)
0,121003,507101,d,1.5,45.4,44.8,41.3,44.8,1091117222124,2001806232,1.3,121003,d,Forward charges,135.0,2001806232,8904223818645,6.0,137,0.822
1,121003,507101,d,1.5,45.4,44.8,41.3,44.8,1091117222124,2001806232,1.3,121003,d,Forward charges,135.0,2001806232,8904223819147,2.0,240,0.480
2,121003,486886,d,1.5,45.4,44.8,41.3,44.8,1091117222194,2001806273,1.0,121003,d,Forward charges,90.2,2001806273,8904223819017,1.0,115,0.115
3,121003,486886,d,1.5,45.4,44.8,41.3,44.8,1091117222194,2001806273,1.0,121003,d,Forward charges,90.2,2001806273,8904223818706,1.0,127,0.127
4,121003,486886,d,1.5,45.4,44.8,41.3,44.8,1091117222194,2001806273,1.0,121003,d,Forward charges,90.2,2001806273,8904223818942,1.0,133,0.133
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,121003,303702,b,1.0,33.0,28.3,20.5,28.3,1091117614452,2001809383,0.5,121003,d,Forward and RTO charges,86.7,2001809383,8904223818706,1.0,127,0.127
394,121003,303702,b,1.0,33.0,28.3,20.5,28.3,1091117614452,2001809383,0.5,121003,d,Forward and RTO charges,86.7,2001809383,8904223818850,1.0,240,0.240
395,121003,303702,b,1.0,33.0,28.3,20.5,28.3,1091117614452,2001809383,0.5,121003,d,Forward and RTO charges,86.7,2001809383,8904223819468,1.0,240,0.240
396,121003,313301,b,1.0,33.0,28.3,20.5,28.3,1091120922803,2001820978,0.5,121003,d,Forward charges,45.4,2001820978,8904223815859,1.0,165,0.165
397,121003,313301,b,1.0,33.0,28.3,20.5,28.3,1091120922803,2001820978,0.5,121003,d,Forward charges,45.4,2001820978,8904223817501,1.0,350,0.350

In [40]:
comp.columns

Index(['Warehouse Pincode_x', 'Customer Pincode', 'Zone_x', 'Weight Slabs',
       'Forward Fixed Charge', 'Forward Additional Weight Slab Charge',
       'RTO Fixed Charge', 'RTO Additional Weight Slab Charge', 'AWB Code',
       'Order ID', 'Charged Weight', 'Warehouse Pincode_y', 'Zone_y',
       'Type of Shipment', 'Billing Amount (Rs.)', 'ExternOrderNo', 'SKU',
       'Order Qty', 'Weight (g)', 'Actual weight(kg)'],
      dtype='object')

In [13]:
awb_data=comp.groupby('AWB Code').agg({
    'Order ID': 'first',
    'Charged Weight': 'first',
    'Warehouse Pincode_x': 'first',
    'Customer Pincode': 'first',
    'Type of Shipment': 'first',
    'Billing Amount (Rs.)': 'first',
    'Zone_y': 'first',
    'Weight Slabs': 'first',
    'Forward Fixed Charge': 'first',
    'Forward Additional Weight Slab Charge': 'first',
    'RTO Fixed Charge': 'first',
    'RTO Additional Weight Slab Charge': 'first',
    'SKU': 'count',
    'Order Qty': 'sum',
    'Actual weight(kg)': 'sum'
})

In [42]:
awb_data.head(1)

,Order ID,Charged Weight,Warehouse Pincode_x,Customer Pincode,Type of Shipment,Billing Amount (Rs.),Zone_y,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge,SKU,Order Qty,Actual weight(kg)
AWB Code,,,,,,,,,,,,,,,
1091117221940,2001806210,2.92,121003,140604,Forward charges,174.5,b,1.0,33.0,28.3,20.5,28.3,2,2.0,0.22

In [14]:
awb_data['Slab_count']=np.ceil(awb_data['Actual weight(kg)']/awb_data['Weight Slabs'])

In [44]:
awb_data.columns

Index(['Order ID', 'Charged Weight', 'Warehouse Pincode_x', 'Customer Pincode',
       'Type of Shipment', 'Billing Amount (Rs.)', 'Zone_y', 'Weight Slabs',
       'Forward Fixed Charge', 'Forward Additional Weight Slab Charge',
       'RTO Fixed Charge', 'RTO Additional Weight Slab Charge', 'SKU',
       'Order Qty', 'Actual weight(kg)', 'Slab_count'],
      dtype='object')

In [16]:
awb_data

Empty DataFrame
Columns: [Order ID, Charged Weight, Warehouse Pincode_x, Customer Pincode, Type of Shipment, Billing Amount (Rs.), Zone_y, Weight Slabs, Forward Fixed Charge, Forward Additional Weight Slab Charge, RTO Fixed Charge, RTO Additional Weight Slab Charge, SKU, Order Qty, Actual weight(kg), Slab_count]
Index: []

In [46]:
def actual_price(x):
    if x['Type of Shipment'] == 'Forward charges':
        return x['Slab_count'] * x['Forward Additional Weight Slab Charge'] + x['Forward Fixed Charge']
    elif x['Type of Shipment'] == 'Forward and RTO Charges':
        return (x['Slab_count'] * x['Forward Additional Weight Slab Charge'] + x['Forward Fixed Charge']) + \
               (x['Slab_count'] * x['RTO Additional Weight Slab Charge'] + x['RTO Fixed Charge'])
    else:
        return 'error'

In [47]:
awb_data['actual price']=awb_data.apply(lambda x:  actual_price(x),axis=1)

In [48]:
awb_data

,Order ID,Charged Weight,Warehouse Pincode_x,Customer Pincode,Type of Shipment,Billing Amount (Rs.),Zone_y,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge,SKU,Order Qty,Actual weight(kg),Slab_count,actual price
AWB Code,,,,,,,,,,,,,,,,,
1091117221940,2001806210,2.92,121003,140604,Forward charges,174.5,b,1.0,33.0,28.3,20.5,28.3,2,2.0,0.220,1.0,61.3
1091117222065,2001806226,0.68,121003,723146,Forward charges,90.2,d,1.5,45.4,44.8,41.3,44.8,1,2.0,0.480,1.0,90.2
1091117222080,2001806229,0.71,121003,421204,Forward charges,90.2,d,1.5,45.4,44.8,41.3,44.8,3,3.0,0.500,1.0,90.2
1091117222124,2001806232,1.30,121003,507101,Forward charges,135.0,d,1.5,45.4,44.8,41.3,44.8,2,8.0,1.302,1.0,90.2
1091117222135,2001806233,0.78,121003,263139,Forward charges,61.3,b,1.0,33.0,28.3,20.5,28.3,2,2.0,0.245,1.0,61.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1091121666133,2001823564,0.70,121003,492001,Forward and RTO charges,172.8,d,1.5,45.4,44.8,41.3,44.8,3,6.0,0.672,1.0,error
1091121844806,2001811475,0.50,121003,173212,Forward charges,33.0,b,2.0,56.6,55.5,50.7,55.5,4,4.0,0.689,1.0,112.1
1091121846136,2001811305,0.50,121003,302020,Forward charges,45.4,d,1.0,33.0,28.3,20.5,28.3,4,4.0,0.750,1.0,61.3
1091121981575,2001825261,1.60,121003,517128,Forward and RTO charges,345.0,d,1.5,45.4,44.8,41.3,44.8,5,13.0,1.557,2.0,error
1091122418320,2001827036,1.60,121003,173213,Forward charges,117.9,b,2.0,56.6,55.5,50.7,55.5,8,9.0,1.676,1.0,112.1

In [62]:
# Check data types
print(awb_data.dtypes)

# Convert columns to numeric
awb_data['actual price'] = pd.to_numeric(awb_data['actual price'], errors='coerce')
awb_data['Billing Amount (Rs.)'] = pd.to_numeric(awb_data['Billing Amount (Rs.)'], errors='coerce')

# Check if conversion was successful
print(awb_data.dtypes)

# Perform subtraction
awb_data['actual vs invoice'] = awb_data['actual price'] - awb_data['Billing Amount (Rs.)']

Order ID                                   int64
Charged Weight                           float64
Warehouse Pincode_x                        int64
Customer Pincode                           int64
Type of Shipment                          object
Billing Amount (Rs.)                     float64
Zone_y                                    object
Weight Slabs                             float64
Forward Fixed Charge                     float64
Forward Additional Weight Slab Charge    float64
RTO Fixed Charge                         float64
RTO Additional Weight Slab Charge        float64
SKU                                        int64
Order Qty                                float64
Actual weight(kg)                        float64
Slab_count                               float64
actual price                             float64
actual vs invoice                        float64
Status                                    object
dtype: object
Order ID                                   int64
Charged Weight                           float64
Warehouse Pincode_x                        int64
Customer Pincode                           int64
Type of Shipment                          object
Billing Amount (Rs.)                     float64
Zone_y                                    object
Weight Slabs                             float64
Forward Fixed Charge                     float64
Forward Additional Weight Slab Charge    float64
RTO Fixed Charge                         float64
RTO Additional Weight Slab Charge        float64
SKU                                        int64
Order Qty                                float64
Actual weight(kg)                        float64
Slab_count                               float64
actual price                             float64
actual vs invoice                        float64
Status                                    object
dtype: object

In [53]:
awb_data

,Order ID,Charged Weight,Warehouse Pincode_x,Customer Pincode,Type of Shipment,Billing Amount (Rs.),Zone_y,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge,SKU,Order Qty,Actual weight(kg),Slab_count,actual price,actual vs invoice
AWB Code,,,,,,,,,,,,,,,,,,
1091117221940,2001806210,2.92,121003,140604,Forward charges,174.5,b,1.0,33.0,28.3,20.5,28.3,2,2.0,0.220,1.0,61.3,-1.132000e+02
1091117222065,2001806226,0.68,121003,723146,Forward charges,90.2,d,1.5,45.4,44.8,41.3,44.8,1,2.0,0.480,1.0,90.2,-1.421085e-14
1091117222080,2001806229,0.71,121003,421204,Forward charges,90.2,d,1.5,45.4,44.8,41.3,44.8,3,3.0,0.500,1.0,90.2,-1.421085e-14
1091117222124,2001806232,1.30,121003,507101,Forward charges,135.0,d,1.5,45.4,44.8,41.3,44.8,2,8.0,1.302,1.0,90.2,-4.480000e+01
1091117222135,2001806233,0.78,121003,263139,Forward charges,61.3,b,1.0,33.0,28.3,20.5,28.3,2,2.0,0.245,1.0,61.3,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1091121666133,2001823564,0.70,121003,492001,Forward and RTO charges,172.8,d,1.5,45.4,44.8,41.3,44.8,3,6.0,0.672,1.0,NaN,NaN
1091121844806,2001811475,0.50,121003,173212,Forward charges,33.0,b,2.0,56.6,55.5,50.7,55.5,4,4.0,0.689,1.0,112.1,7.910000e+01
1091121846136,2001811305,0.50,121003,302020,Forward charges,45.4,d,1.0,33.0,28.3,20.5,28.3,4,4.0,0.750,1.0,61.3,1.590000e+01
1091121981575,2001825261,1.60,121003,517128,Forward and RTO charges,345.0,d,1.5,45.4,44.8,41.3,44.8,5,13.0,1.557,2.0,NaN,NaN
1091122418320,2001827036,1.60,121003,173213,Forward charges,117.9,b,2.0,56.6,55.5,50.7,55.5,8,9.0,1.676,1.0,112.1,-5.800000e+00

In [ ]:
awb_data

In [57]:
def finds(x):
    if x['actual vs invoice'] < 0:
        return 'under charged'
    elif x['actual vs invoice'] == 0:
        return 'correctly charged'
    else:
        return 'over charged'

In [58]:
awb_data['Status']=awb_data.apply(lambda x: finds(x),axis=1)

In [60]:
awb_data

,Order ID,Charged Weight,Warehouse Pincode_x,Customer Pincode,Type of Shipment,Billing Amount (Rs.),Zone_y,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge,SKU,Order Qty,Actual weight(kg),Slab_count,actual price,actual vs invoice,Status
AWB Code,,,,,,,,,,,,,,,,,,,
1091117221940,2001806210,2.92,121003,140604,Forward charges,174.5,b,1.0,33.0,28.3,20.5,28.3,2,2.0,0.220,1.0,61.3,-1.132000e+02,under charged
1091117222065,2001806226,0.68,121003,723146,Forward charges,90.2,d,1.5,45.4,44.8,41.3,44.8,1,2.0,0.480,1.0,90.2,-1.421085e-14,under charged
1091117222080,2001806229,0.71,121003,421204,Forward charges,90.2,d,1.5,45.4,44.8,41.3,44.8,3,3.0,0.500,1.0,90.2,-1.421085e-14,under charged
1091117222124,2001806232,1.30,121003,507101,Forward charges,135.0,d,1.5,45.4,44.8,41.3,44.8,2,8.0,1.302,1.0,90.2,-4.480000e+01,under charged
1091117222135,2001806233,0.78,121003,263139,Forward charges,61.3,b,1.0,33.0,28.3,20.5,28.3,2,2.0,0.245,1.0,61.3,0.000000e+00,correctly charged
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1091121666133,2001823564,0.70,121003,492001,Forward and RTO charges,172.8,d,1.5,45.4,44.8,41.3,44.8,3,6.0,0.672,1.0,NaN,NaN,over charged
1091121844806,2001811475,0.50,121003,173212,Forward charges,33.0,b,2.0,56.6,55.5,50.7,55.5,4,4.0,0.689,1.0,112.1,7.910000e+01,over charged
1091121846136,2001811305,0.50,121003,302020,Forward charges,45.4,d,1.0,33.0,28.3,20.5,28.3,4,4.0,0.750,1.0,61.3,1.590000e+01,over charged
1091121981575,2001825261,1.60,121003,517128,Forward and RTO charges,345.0,d,1.5,45.4,44.8,41.3,44.8,5,13.0,1.557,2.0,NaN,NaN,over charged
1091122418320,2001827036,1.60,121003,173213,Forward charges,117.9,b,2.0,56.6,55.5,50.7,55.5,8,9.0,1.676,1.0,112.1,-5.800000e+00,under charged

In [2]:
awb_data.dtypes

NameError: name 'awb_data' is not defined

In [59]:
awb_data.groupby('Status').agg({'Order ID':'count','actual vs invoice':'sum'})

                   Order ID  actual vs invoice
Status
correctly charged        12                0.0
over charged             37              715.3
under charged            75            -3464.4